@media only screen and (min-width:758px) {
    [class=C]{
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    [class*=res]{
        display: none;
    }
}
@media only screen and (max-width:758px) {
    [class=C]{
        display: none;
    }
    [class*=res]{
        display: flex;
    }
}

@keyframes bgIn {
    0%{
        backdrop-filter: blur(20px);
    }
    100%{
        backdrop-filter: blur(0px);
    }
}
@keyframes pageIn {
    0%{
        opacity: 0;
        filter: blur(10px);
    }
    100%{
        opacity: 100%;
        filter: blur(0px);
    }
}

body{
    background-image: url(/static/img/example/basement.png);
    background-size: cover;
    background-position: center;
    animation: bgIn 1.5s ease-in-out forwards;
}

body, html, div.container{
    margin: 0;
    width: 100%;
    height: 100%;
}

div.container{
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 3fr 1fr;
    opacity: 0;
    animation: pageIn 1.5s ease-in-out forwards 100ms;
    & div:not(.C, .mobile){
        display: grid;
        place-items: center;
        height: 90%;
        width: 90%;
    }
    & div.C{
        & div.gameCont{
            display: grid;
            grid-template-rows: 1fr 3fr 1fr;
        }
    }
}

a{
    text-decoration: none;
    color: black;
    padding: 0 1em;
}

.gold{
    background-color: #fff1d4;
    border: solid 0.4em #ffd981;
    outline: solid 0.2em #caad65;
    border-radius: 2em;
}
.brown{
    background-color: #dab4a2;
    border: solid 0.2em #c29987;
    outline: solid 0.4em #835142;
    border-radius: 1em;
}