<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gameselect.css' %}">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <title>Jugar</title>
</head>
<body>
    <div class="container">
        <div class="T"></div>
        <div class="mobile res">
            <h2 class="gold">Juegos no disponibles para mobiles aun..</h2>
        </div>
        <div class="C">
            <div class="gameCont brown" id="uno">
                <h1>Trash Fall</h1>
                <span>
                    {% load static %}
                    <img width="200" height="200" src="{% static 'img/example/trash.png' %}" alt="">
                </span>
                <a href="/firstgame/{{ssid}}" class="gold">Jugar</a>
            </div>
            <div class="gameCont brown" id="dos">
                <h1>Eco Strike 1.6</h1>
                <span>en desarrollo..</span>
                <a href=#"" class="gold">...</a>
            </div>
            <div class="gameCont brown" id="tres">
                <h1>BottleCraft</h1>
                <span>en desarrollo..</span>
                <a href="#" class="gold">...</a>
            </div>
        </div>
        <div class="B">
            <a href="/menu/{{ssid}}" class="gold">Volver</a>
        </div>
    </div>
</body>
</html>