<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/landing.css' %}" rel="stylesheet">
    <title>Landing</title>
</head>
<body>
    <div class="container">
        <form id="login" method="POST" action="/api/Log">{% csrf_token %}
            <h1>Ingresar</h1>
            <div class="inputField">
                <input required type="text" id="email" name="email">
                <label for="email">Correo Usm</label>
            </div>
            <div class="inputField">
                <input required type="password" id="contra" name="contra">
                <label for="contra">Contraseña</label>
            </div>
            <input type="submit">
        </form>
        <form id="register" class="off" method="POST" action="/api/Reg">{% csrf_token %}
            <h1>Registrarse</h1>
            <div class="inputField">
                <input required type="text" id="email" name="email">
                <label for="email">Correo Usm</label>
            </div>
            <div class="inputField">
                <input required type="password" id="contra" name="contra">
                <label for="contra">Contraseña</label>
            </div>
            <input type="submit">
        </form>
        <button>Registrarse</button>
        <h4>{{msg}}</h4>
    </div>
    {% load static %}
    <script src="{% static 'js/landing.js' %}"></script>
</body>
</html>