<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    {% load static %}
    <link href="{% static 'css/landing.css' %}" rel="stylesheet">
    <title>Landing</title>
</head>
<body>
    <div class="container">
        <form id="h" action="/api/validateCREDS/" method="POST">{% csrf_token %}
            <input id="creds" type="hidden" name="creds">
        </form>
        <form id="login" class="on" method="POST" action="/api/Log">{% csrf_token %}
            <div id="h1field">
                <div id="Bgh1">
                    <div></div>
                    <h1>Ingresar</h1>
                </div>
            </div>
            <div class="inputField">
                <input required type="text" id="email" name="email" autocomplete="email">
                <label for="email">Correo Usm</label>
            </div>
            <div class="inputField">
                <input required type="password" id="contra" name="contra" autocomplete="current-password">
                <label for="contra">Contraseña</label>
            </div>
            <div class="inputField" id="submit">
                <input type="submit">
            </div>
        </form>
        <form id="register" class="off" method="POST" action="/api/Reg">{% csrf_token %}
            <div id="h1field">
                <div id="Bgh1">
                    <div></div>
                    <h1>Registrarse</h1>
                </div>
            </div>
            <div class="inputField">
                <input required type="text" id="email" name="email">
                <label for="email">Correo Usm</label>
            </div>
            <div class="inputField">
                <input required type="password" id="contra" name="contra">
                <label for="contra">Contraseña</label>
            </div>
            <div class="inputField" id="submit">
                <input type="submit">
            </div>
        </form>
        <button>Registrarse</button>
        <h3>{{msg}}</h3>
        {% load static %}
        <script src="{% static 'js/landing.js' %}"></script>
    </div>
</body>
</html>