<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <title>Habitad</title>
</head>
<body>
    <div class="back" style='{{config.back}}'>
        <div class="top">
           <p id="NBA">Bienestar: {{nba}}</p>
        </div>
        <div class="mid">
            <span class="elements_1" style="{{config.element_2}}"></span>
            <span class="elements_1" style="{{config.element_3}}"></span> 
        </div>
        <div class="bot">
            <span class="elements_0" style="{{config.element_0}}"></span>
            <span class="elements_0" style="{{config.element_1}}"></span> 
        </div>
    </div>
    <div class="cont">
        <div class="U">
            <section><a href="/tienda/{{ssid}}">Tienda</a></section>
            <section><a href="/perzomascota/{{ssid}}">Personalizar</a></section>
        </div>
        <div class="B">
            <section><a href="/api/qr/{{ssid}}">Qr</a></section>
            <section><a href="/gameselect/{{ssid}}">Juegos</a></section>
        </div>
    </div>
    <div class="pet">
        <div id="name">{{PetInfo.name}}</div>
        <div></div>
        <span id="iContCA">
            {% for item in items.CA %}
                <span class="img" style="background-image: url({{item}});"></span>
            {% endfor %}
        </span>
        <span id="iContCR">
            {% for item in items.CR %}
                <span class="img" style="background-image: url({{item}});"></span>
            {% endfor %}
        </span>
        <div id="img">
            <img src="/static/img/cat/{{petUrlImg}}">
        </div>
    </div>
    {% load static %}
    <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>