<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    {% load static %}
    <link href="{% static 'css/noqrScan.css' %}" rel="stylesheet">
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <form id="f" action="/api/update/{{ssid}}" method="POST">{% csrf_token %}
            <input type="hidden" name="isScan" value="0">
            <input type="hidden" name="userID" value="-1">
            <div class="inputField">
                <label for="email">Correo</label>
                <input type="text" name="email" id="ID">
            </div>
            <div class="inputField">
                <label for="NBA">Nivel de Bienestar Ambiental</label>
                <input type="number" name="NBA" id="NBA" value="0" min="0"/>
            </div>
            <div class="inputField">
                <label for="CA">Credito Ambiental</label>
                <input type="number" name="CA" id="CA" value="0" min="0"/>
            </div>
            <div class="inputField">
                <label for="CR">Credito Real</label>
                <input type="number" name="CR" id="CR" value="0" min="0"/>
            </div>
            <div id="d3">
                <label for="d3">Reclamar Impresion</label>
                <input type="checkbox" name="d3" id="d3"/>
            </div>
            <div class="submit">
                <input type="submit">
            </div>
        </form>
        <div class="cb">
            <a href="/panel/{{ssid}}">Volver</a>
        </div>
    </div>
</body>
</html>