<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/perzomascota.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="/api/updatePet/{{ssid}}" method="post">{% csrf_token %}
        <input type="hidden" name="tipo" value="{{tipo}}" id="tipo">
        <input type="hidden" name="estado" value="{{estado}}" id="estado">
        <section id="first">
            <div id="prev">
                <span id="icon"></span>
            </div>
            <div id="name">
                <div class="cont gold" id="name">
                    <h1 id="petnameH1">{{ petName }}</h1>
                    <input id="petname" name="name" type="text" class="off" placeholder="Nombre">
                    <button class="edit" type="button">
                        {% load static %}
                        <img class="res" src="{% static 'img/editIcon.png' %}">
                    </button>
                    <span></span>
                </div>
            </div>
        </section>
        <section id="second">
            <div id="A" class="let">
                <div class="label">
                    <hr>
                    <h2>Tipo</h2>
                    <hr>
                </div>
                <div class="caja gold">
                    <div>
                        <button type="button" id="L-tipo"><</button>
                    </div>
                    <div>
                        <h2 id="tipoH2">{{tipo}}</h2>
                    </div>
                    <div>
                        <button type="button" id="R-tipo">></button>
                    </div>
                </div>
            </div>
            <div id="B" class="let">
                <div class="label">
                    <hr>
                    <h2>Estado</h2>
                    <hr>
                </div>
                <div class="caja gold">
                    <div>
                        <button type="button" class="listen" id="L-estado"><</button>
                    </div>
                    <div>
                        <h2 id="estadoH2">{{estado}}</h2>
                    </div>
                    <div>
                        <button type="button" class="listen" id="R-estado">></button>
                    </div>
                </div>
            </div>
            <div id="C" class="let">
                <input type="submit" value="Aplicar" class="gold">
                <a href="/menu/{{ssid}}" class="gold">Cancelar</a>
            </div>
        </section>
    </form>
    {% load static %}
    <script src="{% static 'js/perzomascota.js' %}"></script>
</body>
</html>