<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/qrScan.css' %}" rel="stylesheet">
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <form id="f" action="/api/update/{{ssid}}" method="POST" class="h">{% csrf_token %}
            <input type="hidden" name="isScan" value="1">
            <input type="hidden" name="email" value="noemail@value.cl">
            <input type="hidden" name="userID" id="ID">
            <div class="inputField">
                <label for="NBA">Nivel de Bienestar Ambiental</label>
                <input type="number" name="NBA" id="NBA" value="0" min="0"/>
            </div>
            <div class="inputField">
                <label for="CA">Credito Ambiental</label>
                <input type="number" name="CA" id="CA" value="0" min="0"/>
            </div>
            <div class="inputField">
                <label for="CR">Credito Real</label>
                <input type="number" name="CR" id="CR" value="0" min="0"/>
            </div>
            <div class="submit">
                <input type="submit">
            </div>
            <div id="d3">
                <label for="d3">Reclamar Impresion</label>
                <input type="checkbox" name="d3" id="d3"/>
            </div>
        </form>
        <div id="reader" class="">a</div>
        <div class="cb">
            <a href="/panel/{{ssid}}">Volver</a>
        </div>
    </div>
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
    {% load static %}
    <script src="{% static 'js/scan.js' %}"></script>
</body>
</html>