<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/scan.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="reader"></div>
    </div>
    <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
    {% load static %}
    <script src="{% static 'js/scan.js' %}"></script>
</body>
</html>