@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@media only screen and (max-width:446px) {h1{font-size: 100%;}}
@media only screen and (min-width:446px) {h1{font-size: 150%;}}
@media only screen and (min-width:573px) {
    body{
        background-position: center;
        background-size: cover;
        background-repeat: repeat-y;
        background-clip:border-box;
    }
    input:not([type='submit']){
        font-size:xx-large;
    }
    h1{
        font-size: 250%;
    }
}
@media only screen and (min-width:757px) {h1{font-size: 350%;}}
@media only screen and (min-width:1053px) {h1{font-size: 450%;}}
@media only screen and (max-width:573px) {
    body{
        background-position: center;
        background-size: contain;
        background-repeat: repeat-y;
        background-clip:border-box;
    }
    input:not([type='submit']){
        font-size:large;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 5em #dab4a2 inset !important;
    font-family: 'Lobster', cursive;
}

input:-webkit-autofill ~ label ,
input:-webkit-autofill:hover ~ label , 
input:-webkit-autofill:focus ~ label , 
input:-webkit-autofill:active ~ label {
    opacity: 0;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Lobster', cursive;
}

body{
    display: grid;
    place-items: center;
}
div.container{
    height: 80%;
    width: 50%;
    display: grid;
    place-items: center;
    padding: 0 10%;
    grid-template-rows: 10fr 1fr 1fr;
}

form.off{
    display: none;
}

form{
    height: 100%;
    width: 100%;
    max-width: 40em;
    display: grid;
    grid-template-rows: 6fr 2fr 2fr 1fr;
}

div#h1field{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

h1{
    margin: 0;
    user-select: none;
}

div#Bgh1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    position: absolute;
    width: 60%;
    aspect-ratio: 3;
    transform: translate(0,-10%);
    background-image: url(/static/img/Tittle.png);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}

div.inputField{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.inputField:not(#submit){
    background-image: url(/static/img/Input.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

input:not([type='submit']){
    width: 90%;
    aspect-ratio: 7;
    border: 0;
    background-color: #dab4a2;
    text-align: center;
    font-family: 'Lobster', cursive;
}

input:not([type='submit']):is(:hover, :focus, :valid){
    outline: 0;
}
input:not([type='submit']):is(:hover, :focus, :valid) ~ label{
    opacity: 0;
}

input[type='submit'], button{
    width: 20%;
    aspect-ratio: 2.8;
    border: 0;
    background-image: url(/static/img/btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    font-size:medium;
    font-weight: bold;
    min-width: 6em;
    max-width: 10em;
}

label{
    position: absolute;
    pointer-events: none;
    user-select: none;
}

h3{
    color: red;
}