@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    --t:rgba(0, 0, 0, 0);
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lobster', cursive;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #91E9FF;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60em;
    height: 30em;
    text-shadow: 0 0 2px black;
    outline: solid 0.2em var(--t);
}

div.container h3{
    color: red;
}

form h1{
    font-size: 3.5em;
    color: white;
}

form div.inputField{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 2em;
    width: 20em;
    height: 5em;
    outline: solid 0.2em var(--t);
}

form div.inputField input{
    height: 3em;
    width: 18em;
    background-color: #91E9FF;
    border: white solid 0.3em;
    border-radius: 1em;
    outline: solid 0.2em white;
    transition: all 200ms ease-in-out;
    font-family: 'Lobster', cursive;
    color: black;
    padding-left: 1em;
    font-size: 1.2em;
}

form div.inputField label{
    color: white;
    font-size: 1.5em;
    position: absolute;
    user-select: none;
    pointer-events: none;
    transition: all 200ms ease-in-out;
}
form div.inputField input:hover ~ label, form div.inputField input:focus ~ label, form div.inputField input:valid ~ label{
    opacity: 0;
}
form div.inputField input:hover, form div.inputField input:focus, form div.inputField input:valid{
    outline-offset: 0.2em;
}


form.off{
    display: none;
}